<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<style>

        .button {
          font: bold 11px Arial;
          font-size: 14px;
          text-decoration: none;
          background-color: #EEFFEE;
          color: #336633;
          padding: 2px 6px 2px 6px;
          border-top: 1px solid #CCCCCC;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;
          border-left: 1px solid #CCCCCC;
          display: block;
          text-align: center;
        }



</style>
<body>
<h1>Login Page </h1>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td><b>User Name:</b></td>
            <td><input type="text" name="username"><br></td>
        </tr>
        <tr>
            <td><b>Password:</b></td>
            <td><input type="password" name="password"><br></td>
        </tr>
        <tr>
            <td><input type="submit" class="button" value="Login"></td>

        </tr>
        <tr>
            <td><a href="/signup" class="button">Signup</a></td>
        </tr>
    </table>


</form>
</body>
</html>